/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
:root {
    --container-width: 500px;
    --container-heigth: 500px;
    --number-of-cell: 7;
}
body {
    font-family: 'Silkscreen', cursive;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/originals/53/9c/48/539c483ff16585f1014ce8bff226bc56.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    user-select: none;
}

/* USER INPUT */
#myapp--create-grid,
#myapp--difficulty {
    width: 150px;
    height: 40px;
    border: 2px solid rgb(96, 96, 96);
    background-color: #CCCCCC;
    padding: 0 10px;
}

/* RESULT CONTAINER */
#myapp--result-container {
    min-height: 100px;
}

/* GAME */
.myapp--grid-container {
    width: var(--container-width);
    height: var(--container-heigth);
    border: 5px solid #929292;
    background-color: #000000;
    margin: 0 auto;
    box-sizing: content-box;
    cursor: pointer;
}
.myapp--grid-element {
    background-color: #CCCCCC;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    border: 2px solid #b6b4b4;
    width: calc(100% / var(--number-of-cell));
    height: calc(100% / var(--number-of-cell));
    line-height: calc((var(--container-heigth) / var(--number-of-cell)) - 4px);
}
.myapp--grid-element.clicked {
    background-color: #c1c1c1;
    border: 5px solid #9e9e9e;
    line-height: calc((var(--container-heigth) / var(--number-of-cell)) - 10px);
}